@font-face {
  font-family: Proxima Nova;
  src: url('./proxima-nova.otf');
}

@font-face {
  font-family: Proxima Nova B;
  src: url('./proxima-nova-bold.otf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', helvetica, arial, sans-serif;
  position: relative;
}

.App {
  background-color: #121212;
}

div.app-container {
  display: grid;
  grid-template-columns: auto 83%;
}
div.playlist-container {
  height: 91vh;
}

div.sider-container {
  height: 91vh;
  background-color: black;
}

div.sider-content {
  margin: 25px 25px 0 25px;
}

div.footer-container {
  height: 9vh;
  width: 100%;
}

div.siderBtns {
  margin-top: 90px;
}

div.playlists {
  height: 57vh;
}
