a.siderLinks h1 {
  font-size: 14px;
  display: inline;
  margin-left: 15px;
  font-family: 'Proxima Nova b', helvetica, arial, sans-serif;
}

a.siderLinks {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #b3b3b3;
  transition: 0.4s;
}

a.siderLinks:hover {
  color: white;
}

div.square {
  position: absolute;
  border-radius: 1px;
  background: linear-gradient(135deg, #450af5, #c4efd9);
  fill: white;
}

a.sider-heart-text h1 {
  display: inline;
  margin-left: 40px;
}
a.sider-heart-text {
  height: 50px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
